.App
{
    background-color: black;
    color: white;
    height: 100px;
    
}
*
{
    margin: 0px;
    padding: 0px;
}
.topic
{
    font-size: 50px;
    float: left;
}
.footer
{
    float: left;
}
.para
{
    float: left;
}
.box{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    float: left;
}
.box1
{
    border: 3px solid black;
    height: 400px;
    width: 500px;
}
.add
{
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
#dom
{
    display: none;
    height: 30px;
    width: 150px;
}
.box2
{
    height: 200px;
    width: 250px;
    background-color: rgb(162, 159, 159);
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 20px;
}
.box2:hover{
    box-shadow: 5px 5px 6px black;
}
.box3
{
    height: 200px;
    width: 250px;
    background-color: rgb(162, 159, 159);
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 20px;
}
.box3:hover{
    background-color: green;
}
.box4
{
    height: 200px;
    width: 250px;
    background-color: rgb(162, 159, 159);
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 20px;
}
.box4:hover{
    background-color: rgb(203, 22, 22);
}
.box5
{
    height: 200px;
    width: 250px;
    background-color: rgb(137, 137, 137);
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 20px;
}
.box5:hover{
    background-color: rgb(210, 203, 71);
}
.blo
{
    height: 300px;
    width: 300px;
    border: 2px solid black;
   
    
}